<!DOCTYPE html>
<html>
<head>
  <title>Faruzisyafiqah2013</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="body-<%=params[:controller]%>">

<%= yield %>

</body>
</html>
